@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ffffffaf;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scale:unset ;
}

.activelink {
  @apply lg:rounded-full lg:bg-yellow-500 lg:bg-opacity-25 text-yellow-700;
}

.chatinput{
  box-shadow: 0px -2px 12px rgb(212, 198, 68);
}
.chatRoot::-webkit-scrollbar{
  display: none;
}
.chatRoot{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.track::-webkit-scrollbar-track{
  margin-top: 4rem;
}

.track-hide::-webkit-scrollbar {
  display: none;
}

.bg-wave {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1085%26quot%3b)' fill='none'%3e%3cpath d='M -421.9072352604938%2c113 C -349.91%2c171.8 -205.91%2c407.4 -61.90723526049378%2c407 C 82.09%2c406.6 154.09%2c127.2 298.0927647395062%2c111 C 442.09%2c94.8 514.09%2c293.4 658.0927647395063%2c326 C 802.09%2c358.6 874.09%2c272.4 1018.0927647395063%2c274 C 1162.09%2c275.6 1293.71%2c376.4 1378.0927647395063%2c334 C 1462.47%2c291.6 1427.62%2c116.4 1440%2c62' stroke='rgba(211%2c 202%2c 173%2c 0.27)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -700.6983730315313%2c388 C -628.7%2c365 -484.7%2c256.2 -340.69837303153133%2c273 C -196.7%2c289.8 -124.7%2c506.8 19.301626968468668%2c472 C 163.3%2c437.2 235.3%2c106.8 379.30162696846867%2c99 C 523.3%2c91.2 595.3%2c429.4 739.3016269684687%2c433 C 883.3%2c436.6 959.16%2c146.2 1099.3016269684686%2c117 C 1239.44%2c87.8 1371.86%2c253 1440%2c287' stroke='rgba(211%2c 202%2c 173%2c 0.27)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -443.16954136286245%2c154 C -371.17%2c193.6 -227.17%2c366 -83.16954136286247%2c352 C 60.83%2c338 132.83%2c54.2 276.83045863713755%2c84 C 420.83%2c113.8 492.83%2c474.4 636.8304586371376%2c501 C 780.83%2c527.6 852.83%2c240 996.8304586371376%2c217 C 1140.83%2c194 1268.2%2c391.4 1356.8304586371376%2c386 C 1445.46%2c380.6 1423.37%2c229.2 1440%2c190' stroke='rgba(211%2c 202%2c 173%2c 0.27)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -543.616308747315%2c237 C -471.62%2c278.8 -327.62%2c446.6 -183.61630874731495%2c446 C -39.62%2c445.4 32.38%2c249.2 176.38369125268505%2c234 C 320.38%2c218.8 392.38%2c399.6 536.383691252685%2c370 C 680.38%2c340.4 752.38%2c92.4 896.383691252685%2c86 C 1040.38%2c79.6 1147.66%2c315.2 1256.3836912526851%2c338 C 1365.11%2c360.8 1403.28%2c227.6 1440%2c200' stroke='rgba(211%2c 202%2c 173%2c 0.27)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1085'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
}